
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap");
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size:16px;
    font-family: 'Open Sans', "siemreap", serif;
    
}
:root{
    --color-red:#e50914;
}
h1,
h2{
    font-size:2.2rem;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
span{
    display: inline-block;
}
span,
div,
section,
main,
nav,
article,
i{
    font-size:1.8rem;
}
.container-width{
    max-width:100%;
    margin:auto;
}
.btn{
    padding:10px 15px;
    border:none;
    border-radius:8px;
}
.btn-one{
    background-color:blue;
}

/* mobile */
header{
    display: none;
}
.menu-desktop{
  display: none;
}
.mobile {
  display: block;
  background-color: black;
  padding: 5px 10px;
}
.mobile > ul {
  max-width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile > ul > li > img {
  width: 50px;
  height: 50px;
}
.mobile > ul > li > i {
  color: whitesmoke;
  font-size: 25px;
}
.slid-toggole-moblie{
    display:none;
}
.slid-toggole-moblie{
    background-color: #FA1939;
    height:200px;
    animation:showmenumobile 0.5s ease-in-out forwards;
}
/* tablet */
@media (min-width:768px){
    .container-width {
    max-width: 80%;
    margin: auto;
     }
    header{
        background-color: #161616;
        height:110px;
        display: block;
    }
    .header{
        height:100%;
        padding:15px 0;
    }
    .header img{
        width:90px;
        height:100%;
    }
    /* nav */
    .navigation{
        background-color: #FA1939;
    }
    .menu-desktop{
        display:block;
    }
    .nav .menu-desktop{
       display: flex;
       gap:10px;
    }
    .nav ul li {
        padding:10px 15px;
        font-family:"Open Sans","Bokor",sans-serif;
    }
    .nav ul li:first-child{
        background-color: #D90C16;
    }
    .nav ul li a{
        color:#ffff;
    }
    .mobile{
        display: none;
    }
    .slid-toggole-moblie{
    display: none;
    }
    .slid-toggole-moblie{
        animation:hidmenumobile 0.5s forwards;
    }
    /* main */
    .main{
        width:100%;
        display: grid;
        grid-template-rows:300px 300px;
        grid-template-columns:42% 33% auto;
        margin-top:10px;
    }
    /* box */
    .box1{
        background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/filenew/68c8ee2b16a58_1757998620_small.png");
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .box2{
        background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c3e5e8839aa_1757668800_small.png");
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    .box3{
        padding:5px;
        width:98%;
        height:99%;
        background-color: #DDDDDD;
        margin-bottom:.5%;
        margin-left:2%;
    }
    .box4{
        background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c3d53b39744_1757664540_small.png");
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .box5{
        background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c12cb3b869b_1757490300_small.png");
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .box6{
        margin-top:1%;
        width:98%;
        height:99%;
        background-color: #DDDDDD;
        margin-left:2%;
        padding:5px;
    }
    /* hover-text */
    .hover-text:hover{
        box-shadow:inset 0 -150px 120px rgba(5,5,5,0.98);
    }
    .main>div{
        position:relative;
    }
    .text{
        position:absolute;
        bottom:20%;
        color:#ffff;
        font-size: 18px;
        font-weight:bold;
        padding:0 30px;
    }
    .date{
        position:absolute;
        left:5%;
        bottom:5%;
        color:#ffff;
        display:block;
        font-size: 12px;
        font-weight: normal

    }

}

